poutils==0.15.4
pre-commit==3.7.1

# Rest of dependencies from cpython/Doc/requirements.txt
# Manually listed here so that we install sphinx version 5
# and any version conflicts are avoided.
Sphinx==7.3.7
blurb==1.1.0
sphinxext-opengraph==0.9.1
python-docs-theme==2024.4
-c cpython/Doc/constraints.txt
